body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;

}
.rr{
    color: aliceblue;
}




.contener {
    padding: 10vw;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    display: grid;
    gap: 2rem;
    animation: animate 5s ease-in-out infinite;
    transition: all 2s ease-in;
    border: 2px solid #5f9ea07a;
    background-image: url(/HEADER.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     


}


 

.titulo {
     font-family: 'Times New Roman', Times, serif;
     border-bottom: 1.5px solid;
     text-align: center;
    color: red;
}
ul {
    background: whitesmoke;
    box-shadow: 0 0 10px rgba(5, 0, 0, 50);
    

}









