body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(/HEADER.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



}
.Iniciar-sesion {
    display: grid;
    background: #ffffff94;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 15rem; 
    max-width: 400px;
    gap: 2rem;
    border: 5px solid #000000;
     animation: changeColor 2s infinite;
    

}
.checkbox {
    display: flex;
    justify-content: start;
    margin-top: 2rem;
    /* Ajustado para mejor espacio */
    gap: 1rem;

    input {
        width: 1rem;
        scale: 1.8;
    }

}
.condic {
    text-decoration: none;
    color: blue;
}
button {
    width: 100%;
    padding: 1rem;
    background: #ff7700;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 2rem;
    transition: backgound-color 0.3s;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
input {
    width: 90%;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}
label {
    font-weight: bold;
}

@keyframes changeColor {
    0% {
      border-color: rgb(0, 255, 225);
    }
    25% {
        border-color: #9bffde;
    }
    50%{
       border-color: rgb(241, 162, 36);
    }
    75%{
       border-color: rgb(20, 255, 184);
    }
    100% {
       border-color: rgb(0, 255, 123);
    }
}




















@media (max-width: 600px) {
    .a {
        padding: 5px 10px;
        font-size: 0.9rem;
        
    }
}


@media (max-width: 360px) {
    .a {
        padding: 3px 5px;
        font-size: 0.8rem;
    }
}